

     <div class="row">
        <div class="col-6">
          <h3>No Completed</h3>
            <% @todo_uncompleted.each do |todo| %>
                <div class="card">
                    <div class="card-body">
                    <%= todo.description %><br>
                    </div>
                </div>
            <% end %>
        </div>
        <br>
        <div class="col-6">
            <h3>Completed</h3>
            <% @todo_completed.each do |todo| %>
                <div class="card">
                    <div class="card-body">
                        <%= todo.description %><br>
                    </div>
                </div>
           <% end %>
        </div>
    </div>

